<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I recently completed a 6-month long data science program at
      <a class="underline-link" href="https://www.thinkful.com/bootcamp/data-science/flexible/" target="_blank">Thinkful</a>
      , where I built end-to-end data science projects under the mentorship of an industry expert.
      Previously, I worked as a software engineer after graduating with a Computer Science degree from
      <a class="underline-link" href="https://www.cs.ucla.edu" target="_blank">UCLA</a>.
    </p>

    <p>As a data scientist, I enjoy extracting actionable insights from data while leveraging my software engineering background to create efficient and usable data products.
      I always aim for effective communication by presenting complex analyses and results as simply as possible.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably at a dance class, reading,
      or planning my next calligraphy project.
    </p>

  </div>
</section>
