<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project visitorforecasting">
      <figure class="project__pic">
        <a href="https://github.com/michellekli/visitor-forecasting" target="_blank">
          <img src="{{site.baseurl}}/img/featured/visitorforecasting/visitorforecasting.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/michellekli/visitor-forecasting" target="_blank">Visitor Forecasting</a>
        </div>
        <p>Time series analysis and automated visitor forecasting pipeline for over 800 restaurants with
          Seasonal AutoRegressive Integrated Moving Average with eXogenous regressors (SARIMAX) and
          Bayesian Structural Time Series (BSTS) models.</p>
      </figcaption>
    </div>

    <div class="project lovestories">
      <figure class="project__pic">
        <a href="https://github.com/michellekli/love-stories" target="_blank">
          <img src="{{site.baseurl}}/img/featured/lovestories/lovestories.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/michellekli/love-stories" target="_blank">Text Classification</a>
        </div>
        <p>Adapted resampling research method
          <a class="underline-link" href="https://arxiv.org/pdf/physics/0005046.pdf" target="_blank">(Levine and Domany, 2018)</a>
          to compare modeling and clustering algorithms for multi-class text classification.
          Extracted features from novels with NLP approaches: bag of words, term frequency-inverse document frequency (tf-idf),
          word2vec, and positive pointwise mutual information.
        </p>
      </figcaption>
    </div>

    <div class="project housing">
      <figure class="project__pic">
        <a href="https://github.com/michellekli/melbourne-housing" target="_blank">
          <img src="{{site.baseurl}}/img/featured/housing/housing.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/michellekli/melbourne-housing" target="_blank">Linear Inference</a>
        </div>
        <p>Modeled relationship between house price and building area/distance with ridge regression after
          performing extensive exploratory data analysis and cleaning on dataset with multicollinearity.</p>
      </figcaption>
    </div>
  </div>
</section>
