<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span>Adapted from <a class="underline-link" href="https://github.com/michellekli/bchiang7.github.io" target="_blank">Brittany Chiang's design</a></span>
    </div>
    <div class="bottom">
      <span>Copyright 2019 Michelle Li</span>
    </div>
  </div>
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      <!-- <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}"> -->
    </a>
    {% endfor %}
  </div>
</footer>
